/* import section */

@import url('font-style.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");

/* Variables section */

:root {
    --galaxy-color: #463c8b;
    --orange-color: #FF7D00;
    --bg-grey-color: #1D1D1B;
    --dark-galaxy-color: #0E0C1C;
    --white-color: #e8e6f4;
    --black-color: #000000;
}


/* section general property color */

.text-galaxy {
    color: var(--galaxy-color);
}

.text-orange-color {
    color: var(--orange-color);
}


/* General text elements */

body {
    font-family: 'Satoshi-Regular', sans-serif;
    font-size: 16px;
    line-height: 150%;
    color: var(--white-color);
    background-color: var(--dark-galaxy-color);
}

h1,
h2,
h3 {
    font-family: 'Satoshi-Bold', sans-serif;
}

h1 {
    font-size: 64px;
    letter-spacing: -2px;
}

h2 {
    font-size: 40px;
    letter-spacing: -1px;
}

h3 {
    font-size: 40px;
    letter-spacing: 0;
    line-height: 150%;
}

h5 {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 32px;
    line-height: 150%;
}

.text-small {
    font-size: 12px;
}

strong {
    font-family: 'Satoshi-Bold', sans-serif;
}


/* buttons style */

.button-base {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    font-weight: 700;
}

.button-base:hover {
    text-decoration: none;
}

.button-secondary {
    border: 1px solid var(--orange-color);
    color: var(--orange-color);
}

.button-secondary:hover {
    background-color: var(--orange-color);
    color: var(--white-color);
}

.button-white {
    border: 1px solid var(--white-color);
    color: var(--white-color);
}

.button-white:hover {
    background-color: var(--white-color);
    color: var(--orange-color);
}


/* navbar style */

.navbar li {
    font-family: 'Satoshi-Medium', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
}

.navbar li>a {
    color: var(--white-color) !important;
}

.navbar li:hover,
.navbar li.active {
    border-bottom: 1px solid var(--white-color);
}

.navbar li:hover::after,
.navbar li.active::after {
    position: absolute;
    bottom: -5px;
    left: 46%;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--dark-galaxy-color);
    background-color: var(--white-color);
}

.navbar li.active>a {
    color: var(--orange-color) !important;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 125, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler.navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}


/* header element with image, title and description */

.bg-headpage {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
    padding-top: 70px;
}

.bg-headpage::before,
.community_card::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.bg-head_home {
    background-image: url('../img/home-background.jpg');
    height: 830px;
}

.bg-head_services {
    background-image: url('../img/services-header.jpg');
}

.bg-head_reach-us {
    height: 700px;
    padding-top: 70px;
    overflow: hidden;
}

.bg-head_origins {
    background-image: url('../img/origins-header.jpg');
}

.bg-head_observatory {
    background-image: url('../img/observatory-background.jpg');
}

.bg-head_tourism {
    background-image: url('../img/tourism-background.jpg');
}

.bg-head_community {
    background-image: url('../img/community-background.jpg');
}

.bg-head_home .title-head {
    margin-top: 12rem;
}

.bg-astreafest {
    background-image: url('../img/astreafest-background.jpg');
}

.breadcrumb-item+.breadcrumb-item::before {
    content: '>';
    color: var(--white-color);
}

.title-head {
    border-bottom: 2px solid var(--white-color);
}

.head-cit {
    bottom: 0;
    left: 0;
    right: 0;
}

.title-head::before,
.collapse .navbar-brand::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}

.mobile-close-Btn {
    right: -20%;
    top: 30px;
}

i.md-icon {
    font-size: 32px;
}


/* footer style */

.footer-page {
    background: url('../img/footer_img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
}

.footer-page {
    background: url(../img/footer_img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    padding-top: 100px;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .2);
}

a:hover .bi {
    color: var(--galaxy-color);
}


/* Component card origins and observatory */

.nav-pills .nav-link {
    color: var(--white-color);
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: transparent;
    color: var(--orange-color);
}


/*
    Card_left_origins_observatory_head is made of head, a line below the head, paragraphs, and an svg/img on the right;
    Card_right_origins_observatory_head is made of head, a line below the head, paragraphs, and an svg/img on the right.
*/

.card_left_origins_observatory_head,
.card_right_origins_observatory_head {
    border-bottom: 2px solid var(--white-color);
}

.card_left_origins_observatory_head::before,
.card_right_origins_observatory_head::before,
.card-astreafest::before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: var(--white-color);
    transform: rotate(45deg);
}

.card_left_origins_observatory_head::before {
    right: 0;
    bottom: -4px;
}

.card_right_origins_observatory_head::before,
.card-astreafest::before {
    left: 0;
    bottom: -4px;
}

.card_origins_observatory_img {
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.card_clipped_left {
    clip-path: polygon(70% 0, 100% 24%, 100% 100%, 30% 100%, 0 79%, 0% 0%);
}

.card_clipped_right {
    clip-path: polygon(30% 0, 100% 0, 100% 79%, 76% 100%, 0 100%, 0 24%);
}


/* style for caption in carousel of origin */

.capt-img p {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5%;
}


/* Card_environment is made of an img (triangle and squared shapes), title, paragraph */


/* environment and service card */

.card_environment_img,
.card-intro {
    width: 100%;
    height: 100%;
}


/* HOME */


/* card for elements of list in home */

.card-triangle_element {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: var(--bg-grey-color);
    min-height: 200px;
    border-radius: 10px;
    margin-left: 5rem;
    z-index: 0;
}

.home-card-triangle {
    margin-top: 13rem;
}

.home-card-triangle img {
    z-index: 1;
    position: absolute;
    bottom: -45%;
    left: -12%;
    width: 55%;
    pointer-events: none;
}

.card-triangle_right img {
    left: auto;
    right: -12%;
}

.card-triangle_description {
    margin: 0 7rem;
}

.card-triangle_right .card-triangle_element {
    margin-right: 5rem;
    margin-left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}


/* card astreafest in home */

.home-astreafest img {
    width: 100%;
    min-height: 250px;
    max-height: 300px;
    object-fit: cover;
}

.home-astreafest_description {
    left: 21%;
    bottom: 0;
}


/* services section */

.service_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: auto;
    color: white;
}

.link-img:hover img {
    filter: grayscale(100%);
}

.link-img:hover h4 {
    font-weight: bolder;
    color: var(--orange-color);
}


/* observatory-tourism section */

.obs-tourism_card-event {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    background-color: var(--bg-grey-color);
    min-height: 200px;
    border-radius: 10px;
    margin-left: 0;
    z-index: 0;
}


/* community section */

.community_card-title {
    bottom: 0;
    left: 0;
}

.community_card-title p {
    font-size: 20px;
    font-family: 'Satoshi-Bold', sans-serif;
}

.community_card-title i {
    font-size: 1.5rem;
}

.community_card-img {
    height: 280px;
    width: 190px;
    object-fit: cover;
}

.community_card .community_card-img {
    border: 2px solid transparent;
    transition: all .2s ease-in-out;
}

a:hover .community_card,
a.active .community_card {
    transform: scale(1.1);
    border-color: var(--orange-color);
}

a:hover .community_card .community_card-img,
a.active .community_card .community_card-img {
    border: 2px solid var(--orange-color);
}


/* modals section */

.modal_tourism {
    background-color: var(--galaxy-color);
    color: var(--white-color);
}


/* How to reach us */

#earth {
    position: absolute;
    top: 0;
    z-index: -1;
    background-color: var(--dark-galaxy-color);
}

#earth canvas {
    mix-blend-mode: lighten;
}

.reachus-header-text-bg {
    background-color: rgba(0, 0, 0, 0.6);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
    padding-right: 60px;
}

#loader {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: linear-gradient(165deg, rgba(255, 255, 255, 1) 0%, rgb(220, 220, 220) 40%, rgb(170, 170, 170) 98%, rgb(10, 10, 10) 100%);
    position: relative;
    opacity: 1;
    transform: translateY(0) scale(1);
}

#loader::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-bottom: 0 solid rgba(255, 255, 255, 0.02);
    box-shadow: 0 -10px 20px 20px #ffffff40 inset, 0 -5px 15px 10px #ffffff50 inset, 0 -2px 5px #ffffff80 inset, 0 -3px 2px #ffffffbb inset, 0 2px 0 #ffffff, 0 2px 3px #ffffff, 0 5px 5px #ffffff90, 0 10px 15px #ffffff60, 0 10px 20px 20px #ffffff40;
    filter: blur(3px);
    animation: 2s rotate linear infinite;
}

#earth.slide-down {
    opacity: 1;
    transition: 3s cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition-delay: .8s;
}

#loader.slide-up {
    transform: translateY(-100%) scale(0);
    opacity: 0;
    transition: 1s cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}


/* Vertical line of reach us */

.v-line-reachus {
    position: absolute;
    height: 127%;
    width: 5px;
    inset: 0;
    top: -125px;
    background-color: var(--white-color);
    z-index: -1;
}


/* Card title fix width of reach us */

.card-reachus h2 {
    max-width: 80%;
}


/* Dot step to reach us */

.card-reachus::before {
    content: '';
    position: absolute;
    top: 70px;
    left: -10.5px;
    width: 25px;
    height: 25px;
    border: 4px solid var(--white-color);
    border-radius: 100%;
    background-color: var(--black-color);
}

.card-reachus:nth-child(3)::before {
    top: 63px;
}

.reachus-stat {
    z-index: 1;
    height: 100%;
}

.reachus-triangle {
    z-index: -1;
}

#reachus-stat-carousel .carousel-item {
    height: 300px;
}

.bg-landing-mars {
    width: 100%;
    height: 415px;
    background-color: var(--dark-galaxy-color);
    background-blend-mode: lighten;
    background-image: url('../img/mars_landing.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
}


/* ASTREAFEST */

.nav-wrapper-astreafest.fixed {
    position: fixed;
    top: 66px;
    left: 0;
    width: 100%;
    background-color: var(--dark-galaxy-color);
    z-index: 1;
}

.nav-wrapper-astreafest.fixed .nav-pills {
    padding: 0 31px;
}

.event-day strong {
    background-color: var(--dark-galaxy-color);
    z-index: 1;
}

.event-day::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: calc(50% - 1px);
    background-color: var(--orange-color);
    z-index: -1;
}


/* RESPONSIVE SECTION */


/* Desktop style */

@media only screen and (min-width: 992px) {
    /* vertical element with dot series on left of the page */
    .bg-dotted {
        background-image: url('../img/bg.svg');
        background-repeat: repeat-y;
        background-size: 3%;
        background-position: 4rem 0;
    }
    /* Vertical line reach us */
    .v-line-reachus {
        margin: 0 auto;
        height: 120%;
    }
    /* Card title fix width reach us */
    .card-reachus:first-child h2,
    .card-reachus:nth-child(3) h2 {
        max-width: 80%;
        text-indent: 40%;
    }
    .card-reachus::before {
        left: unset;
        right: -12.5px;
    }
    .card-reachus:nth-child(2)::before {
        left: -12.5px;
        right: unset;
    }
}


/* breakpoint to set orizzontal scroll of tabs in community page */

@media screen and (max-width: 1199px) {
    .nav-community {
        overflow-x: auto;
        flex-wrap: nowrap;
        scrollbar-width: none;
        /* hide scrollbar for Firefox */
    }
    /* hide scrollbar for Chromium browser */
    .nav-community::-webkit-scrollbar {
        display: none;
    }
}


/* mobile style */

@media screen and (max-width: 991px) {
    /* text style */
    h3 {
        font-size: 26px;
    }
    /* mobile burger menu collapse */
    .navbar-collapse {
        position: fixed;
        left: -1200px;
        width: 80vw;
        top: 0;
        bottom: 0;
        background-color: var(--galaxy-color);
        transition: left 0.5s;
    }
    .navbar-collapse:after {
        z-index: -1;
        width: 20vw;
        background-color: rgba(26, 20, 61, 0.8);
        position: absolute;
        top: 0;
        bottom: 0;
        right: -20vw;
        content: '';
    }
    .navbar-collapse.show {
        left: 0;
        transition: left 0.5s;
    }
    .navbar-collapse .close {
        top: 6vw;
        right: -13vw;
        z-index: 5;
    }
    .navbar li:hover,
    .navbar li.active {
        border: 0;
    }
    .navbar li:hover::after,
    .navbar li.active::after {
        content: none;
    }
    /* cards in home with triangle */
    .home-card-triangle {
        flex-direction: column;
        justify-content: center;
        margin-top: 0;
    }
    .home-card-triangle img {
        position: relative;
        width: 100%;
        left: 0;
    }
    .home-card-triangle.card-triangle_right {
        flex-direction: column-reverse;
    }
    /* footer section */
    .footer-page {
        padding-top: 45px;
    }
    .footer_bottom-el {
        flex-direction: column-reverse;
    }
    .footer-page .footer_btn-subscribe {
        text-align: center;
    }
    #footer-description {
        display: none;
    }
    /* mobile carousel for community in home page */
    #home_carouselCommunity .carousel-item {
        min-height: 200px;
    }
    /* card with triangle in home and observatory-tourism pages */
    .card-triangle_element,
    .obs-tourism_card-event {
        margin-left: 0;
        border-radius: 0;
        margin-top: -7rem;
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    }
    .card-triangle_right .card-triangle_element,
    .card-triangle_element,
    .obs-tourism_card-event {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    }
    .obs-tourism_card-event h2 {
        font-size: 20px;
    }
    .card-triangle_right .card-triangle_element {
        margin-right: 0;
    }
    .card-triangle_description {
        margin: 5rem 0;
    }
    a:hover .community_card,
    a.active .community_card {
        transform: scale(1);
    }
    .community_card-img {
        height: 200px;
        width: 140px;
    }
    .community_card-title p {
        font-size: 16px;
    }
    .card_origins_observatory_img {
        object-fit: contain;
        max-height: 350px;
        width: auto;
        margin: 0 auto;
        display: flex;
    }
    .carousel-caption {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .capt-img p {
        background-color: transparent;
        text-align: left;
        opacity: 1;
    }
}


/* media query to set correctly element with dot left */

@media only screen and (max-width: 1350px) {
    .bg-dotted {
        background-position-x: left;
    }
}


/* media query to set astreafest banner in home page */

@media only screen and (max-width: 768px) {
    .home-astreafest img {
        object-fit: cover;
        max-height: 550px;
    }
    .home-astreafest_description {
        left: 0;
        top: auto;
        bottom: 0;
        padding: 3rem 0;
        background-color: rgba(70, 59, 138, .6);
    }
}


/* media query for mobile setting of menu with data in astreafest page */

@media only screen and (max-width: 575px) {
    .nav-wrapper-astreafest.fixed .nav-pills {
        padding: 0 15px;
    }
    .no-pad-mobile {
        padding: 0;
    }
}